<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>

{% block body %}{% endblock %}

<script type="text/javascript" src="/js/wp/client.js"></script>
</body>
</html>
