.video-crop {
  overflow: hidden;
  height: 300px;
  text-align: center;
  margin-bottom:30px;
  p {
    z-index: 100;
    position: relative;
    top: 130px;
    font-size: 2em;
    color:$white;
  }
}

video {
  min-width: 100%;
  min-height: 100%;
  margin-top: -200px;
}

