{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    {#<div class="video-crop">#}
    {#<p>Video test</p>#}
    {#<video poster="{{ asset('img/vid-placeholder.jpg') }}" id="bgvid" autoplay muted loop playsinline>#}
    {#<source src="{{ asset('vid/hall-and-woodhouse-prem.webm') }}" type="video/webm">#}
    {#<source src="{{ asset('vid/hall-and-woodhouse-prem.mp4') }}" type="video/mp4">#}
    {#</video>#}
    {#</div>#}

    <div class="container">
        <div class="row">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="tel:330143798630" tabindex="10">
                        <i class="icon-phone"></i>+33(0) 1 43 79 86 30
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" tabindex="11" href="mailto:contact@cocorico.io">
                        <i class="icon-mail-alt"></i>contact@cocorico.io
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="fullbar">
        <div class="container">
            <div class="row py-3">
                <div class="col-sm-2">
                    <a class="navbar-brand" href="/en/" tabindex="3">
                        <img src="https://cocorico.strangedev.com/images/logo.png" alt="Home" width="190" height="29">
                    </a>
                </div>
                <div class="col-sm-10">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Who we are?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Favourites (1)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Login</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">En</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">En</a>
                                <a class="dropdown-item" href="#">Fr</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">EUR</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">EUR</a>
                                <a class="dropdown-item" href="#">USD</a>
                                <a class="dropdown-item" href="#">GBP</a>
                                <a class="dropdown-item" href="#">CHF</a>
                                <a class="dropdown-item" href="#">CHF</a>
                                <a class="dropdown-item" href="#">CAD</a>
                                <a class="dropdown-item" href="#">JPY</a>
                                <a class="dropdown-item" href="#">RUB</a>
                                <a class="dropdown-item" href="#">AUD</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/en/listing/new" class="btn btn-primary navbar-right" tabindex="9">
                                Publish your listing
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row p-4">
            <div class="col-lg">
                <form class="form-inline justify-content-center">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Categories</label>
                        <select class="form-control ml-sm-3" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group mx-sm-3">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Confirm identity</button>
                </form>
            </div>
        </div>
    </div>

    <div class="visual text-center pb-4">
        <div class="col">
            <div id="carouselExamplePromo" class="carousel slide" data-ride="true">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid" data-src="holder.js/700x262?auto=yes&amp;bg=777&amp;fg=777&amp;text= " alt="Third slide"/>
                            </div>
                            <div class="col">
                                <img class="img-fluid" data-src="holder.js/700x262?auto=yes&amp;bg=888&amp;fg=888&amp;text= " alt="Third slide"/>
                            </div>
                            <div class="col">
                                <img class="img-fluid" data-src="holder.js/700x262?auto=yes&amp;bg=999&amp;fg=999&amp;text= " alt="Third slide"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid" data-src="holder.js/1000x290?auto=yes&amp;bg=555&amp;fg=555&amp;text= " alt="Third slide"/>
                            </div>
                            <div class="col">
                                <img class="img-fluid" data-src="holder.js/1000x290?auto=yes&amp;bg=666&amp;fg=666&amp;text= " alt="Third slide"/>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid" data-src="holder.js/1000x290?auto=yes&amp;bg=555&amp;fg=555&amp;text= " alt="Third slide"/>
                            </div>
                            <div class="col">
                                <img class="img-fluid" data-src="holder.js/1000x290?auto=yes&amp;bg=666&amp;fg=666&amp;text= " alt="Third slide"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid" data-src="holder.js/700x262?auto=yes&amp;bg=777&amp;fg=777&amp;text= " alt="Third slide"/>
                            </div>
                            <div class="col">
                                <img class="img-fluid" data-src="holder.js/700x262?auto=yes&amp;bg=888&amp;fg=888&amp;text= " alt="Third slide"/>
                            </div>
                            <div class="col">
                                <img class="img-fluid" data-src="holder.js/700x262?auto=yes&amp;bg=999&amp;fg=999&amp;text= " alt="Third slide"/>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid" data-src="holder.js/700x262?auto=yes&amp;bg=777&amp;fg=777&amp;text= " alt="Third slide"/>
                            </div>
                            <div class="col">
                                <img class="img-fluid" data-src="holder.js/700x262?auto=yes&amp;bg=888&amp;fg=888&amp;text= " alt="Third slide"/>
                            </div>
                            <div class="col">
                                <img class="img-fluid" data-src="holder.js/700x262?auto=yes&amp;bg=999&amp;fg=999&amp;text= " alt="Third slide"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid" data-src="holder.js/1000x290?auto=yes&amp;bg=555&amp;fg=555&amp;text= " alt="Third slide"/>
                            </div>
                            <div class="col">
                                <img class="img-fluid" data-src="holder.js/1000x290?auto=yes&amp;bg=666&amp;fg=666&amp;text= " alt="Third slide"/>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExamplePromo" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExamplePromo" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">

            <div class="col-lg">
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing.</h4>
                <p>Mipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="col-lg">
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing.</h4>
                <p>Mipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="col-lg">
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing.</h4>
                <p>Mipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>

        </div>

    </div><!-- /.container -->

    <div class="visual text-center p-4">
        <div class="container">
            <h1>Our Last Offers</h1>
        </div>
    </div>

    <div class="container cards">

        <div class="row">

            <div class="col-lg">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="https://images.holidayfrancedirect.co.uk/cspreview/13505.jpg" alt="Card image">
                    <div class="card-img-overlay js-holder">
                        <div class="card-bg">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="http://cocorico.strangedev.com/media/cache/listing_large/uploads/listings/images/747a1884d1974bd74bfcfa85b926f0affbb33de4.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <div class="card-bg">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="http://cocorico.strangedev.com/media/cache/listing_large/uploads/listings/images/747a1884d1974bd74bfcfa85b926f0affbb33de4.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <div class="card-bg">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>

    </div><!-- /.container -->

{% endblock %}
